# Analysis of COVID-19 Cases in the world

Some requirements:

- Convert data into tidy format
- Export to normalized tables in SQLite3 Database
- Use SQL statements (from within pandas) to retrieve data needed for each visualization

In [36]:
import numpy as np
import pandas as pd
import sqlite3
from sqlite3 import Error

In [37]:
# Load clean dataset 
normalized_table = pd.read_csv("../data/clean/CleanData.csv").iloc[:, 1:]
normalized_table.head()

,Country,Continent,Date,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Daily tests,Cases,Deaths
0,Albania,Europe,2020-02-25,14,2.89,1.29,5353.2,2873457,38,14,8.0,NaN,NaN
1,Albania,Europe,2020-02-26,14,2.89,1.29,5353.2,2873457,38,14,5.0,NaN,NaN
2,Albania,Europe,2020-02-27,14,2.89,1.29,5353.2,2873457,38,14,4.0,NaN,NaN
3,Albania,Europe,2020-02-28,14,2.89,1.29,5353.2,2873457,38,14,1.0,NaN,NaN
4,Albania,Europe,2020-02-29,14,2.89,1.29,5353.2,2873457,38,14,8.0,NaN,NaN

In [50]:
# Load country details
country_details = pd.read_csv("../data/clean/CountryDetails.csv").iloc[:, 1:]
country_details

           Country  Latitude  Longitude
0          Albania     41.15      20.17
1          Algeria     28.03       1.66
2        Argentina    -38.42     -63.62
3          Armenia     40.07      45.04
4        Australia    -25.27     133.78
..             ...       ...        ...
99   United States     37.09     -95.71
100        Uruguay    -32.52     -55.77
101        Vietnam     14.06     108.28
102         Zambia    -13.13      27.85
103       Zimbabwe    -19.02      29.15

[104 rows x 3 columns]

In [57]:
# Connecting database using SQLite3

conn = sqlite3.connect("../database/data.db")
cur = conn.cursor()

In [26]:
# Continents
print((set(normalized_table['Continent'])))

{'Asia', 'North America', 'Europe', 'South America', 'Africa', 'Oceania'}

In [53]:
# Insert dataframe into SQL Table

normalized_table.to_sql(name="covidstats", con=conn, index=False)
country_details.to_sql(name="countries", con=conn, index=False)

104

In [64]:
# Experimenting with SQL Code

# row_list = []
# for row in cur.execute("SELECT * FROM countries"):
#     row_list.append(row)

In [52]:
# To delete database, uncomment the code and run this cell

# cur.execute("DROP TABLE covidstats")

In [56]:
# Close connection

conn.close()