# Analysis of COVID-19 Cases in the world

Some requirements:

- Convert data into tidy format
- Export to normalized tables in SQLite3 Database
- Use SQL statements (from within pandas) to retrieve data needed for each visualization

In [2]:
import numpy as np
import pandas as pd
import sqlite3

In [9]:
# Load clean dataset 
df = pd.read_csv("../data/clean/CleanData.csv").iloc[:, 1:]
df.head()

,Latitude,Longitude,Country,Date,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Daily tests,Cases,Deaths
0,41.15,20.17,Albania,2020-02-25,14,2.89,1.29,5353.2,2873457,38,14,8.0,NaN,NaN
1,41.15,20.17,Albania,2020-02-26,14,2.89,1.29,5353.2,2873457,38,14,5.0,NaN,NaN
2,41.15,20.17,Albania,2020-02-27,14,2.89,1.29,5353.2,2873457,38,14,4.0,NaN,NaN
3,41.15,20.17,Albania,2020-02-28,14,2.89,1.29,5353.2,2873457,38,14,1.0,NaN,NaN
4,41.15,20.17,Albania,2020-02-29,14,2.89,1.29,5353.2,2873457,38,14,8.0,NaN,NaN